<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BillMapper">
	<!-- 根据商品名称（模糊查询），供应商名称,是否付款查询订单-->
	<resultMap type="SmbmsBill" id="billList" autoMapping="true">
		<association property="providerId" javaType="entity.SmbmsProvider" autoMapping="true">
		</association>
	</resultMap>
	<select id="getBillByThree" resultMap="billList">
		select b.*,p.proName from smbms_bill b,smbms_provider p where b.providerId=p.id
			<if test="productName!=null">
				and b.productName like concat ('%',#{productName},'%')
			</if>
			<if test="proName !=null">
			    and p.proName like concat ('%',#{proName},'%')
			</if>
			<if test="isPayment !=null">
				and b.isPayment=#{isPayment}
			</if>
	</select>
	<resultMap type="SmbmsBill" id="billMap" autoMapping="true">
		<association property="providerId" javaType="entity.SmbmsProvider" autoMapping="true">
		</association>
	</resultMap>
	<!-- 获取全部订单信息 -->
	<select id="getBills" resultMap="billMapS">
		select b.*,p.proName from smbms_bill b,smbms_provider p where b.providerId=p.id limit #{n},#{size}
	</select>
	<resultMap type="SmbmsBill" id="billMapS" autoMapping="true">
		<association property="providerId" javaType="entity.SmbmsProvider" autoMapping="true">
		</association>
	</resultMap>
	<!-- 根据id查询商品信息 -->
	<select id="getBillById" resultMap="billMap" parameterType="int">
		select b.*,p.proName from smbms_bill b,smbms_provider p where b.id=#{id} and b.providerId=p.id	
	</select>
	<!-- 根据id更新订单信息 -->
	<update id="updateBill">
		update smbms_bill
		<set>
			<if test="billCode !=null">
				billCode=#{billCode},
			</if>
			<if test="productName !=null">
				productName=#{productName},
			</if>
			<if test="productDesc !=null">
				productDesc=#{productDesc},
			</if>
			<if test="productUnit !=null">
				productUnit=#{productUnit},
			</if>
			<if test="productCount !=null">
				productCount=#{productCount},
			</if>
			<if test="totalPrice !=null">
				totalPrice=#{totalPrice},
			</if>
			<if test="isPayment !=null">
				isPayment=#{isPayment}
			</if>
			<if test="createdBy !=null">
				createdBy=#{createdBy},
			</if>
			<if test="creationDate !=null">
				creationDate=#{creationDate},
			</if>
			<if test="modifyBy !=null">
				modifyBy=#{modifyBy},
			</if>
			<if test="modifyDate !=null">
				modifyDate=#{modifyDate},
			</if>
			<if test="providerId !=null and providerId.id !=null">
				providerId=#{providerId.id}
			</if>				
		</set>
		where id=#{id}
	</update>
	<!-- 根据id删除订单 -->
	<delete id="delBill" parameterType="int">
		delete from smbms_bill where id=#{id}
	</delete>
	<!-- 增加订单 -->
	<insert id="addBill" parameterType="SmbmsBill">
		insert into smbms_bill values(null,#{billCode},#{productName},#{productDesc},#{productUnit},#{productCount},#{totalPrice},#{isPayment},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate},#{providerId.id})
	</insert>
</mapper>